@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex ;
}


/* menu lateral */

.menu-lateral {
    width: 250px;
    height: 100vh;

    padding: 30px 50px;
    background-color: #000;


    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 700;

    color: #fff;

}

.menu-lateral > img {
    margin-top: 40px;

}

.menu-content {
    margin-top: 50px;
    list-style: none;
    text-align: center;
}

.menu-content li {
    margin-top: 35px;
    cursor: pointer;
}

.menu-content li:nth-child(5) {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-content li:nth-child(5) p {
    margin-left: 16px;
}

/* fim menu lateral */

/* conteúdo principal */

.content {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 60px 66px;
}

.container-card {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 20px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 16px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.card:nth-child(2) .card-content:nth-child(1)::after {
    content: '';
    width: 1px;
    height: 73px;
    background-color: black;

    margin: 0 25px;
}


.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info {
    font-family: 'Roboto', sans-serif;
    margin-right: 25px;
}

.card-info p { 
    font-weight: 500;
    line-height: 26px;
}

.card-info h2 {
    font-size: 54px;
    font-weight: 900;
    line-height: 64px;

    color: #ffba33;
}